html, body {
	max-width:100vw;
	max-height:100vh;
	min-width:1366px;
	margin: 0px;
	overflow: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

body {
	background-color:#aab7b8;
	font-family: 'Lato', sans-serif;
	color:white;
	z-index: -1;
}

/* left side */
/*bottom container*/
#jam{
	padding:2vh 0;
}
#judul-atas {
	position:absolute;
	top:0vh;
    width:100%;
	min-width:1366px;
	height:16vh;
    z-index:4;
    overflow: hidden;
}
#judul-atas-2 {
	position:absolute;
	top:22vh;
    width:100%;
	min-width:1366px;
	height:30vh;
    z-index:5;
    overflow: hidden;
}
#info-sholat {
	position:absolute;
	bottom:8vh;
    width:100%;
	min-width:1366px;
	height:25vh;
    z-index:3;
    overflow: hidden;
}
#row-keuangan{
    width:100%;
	min-width:1366px;	
	background-color: rgba(192, 57, 43, 0.5);
	height:9vh;
	margin-bottom:1vh;
}
#info-keuangan{
	color:  #fdfefe;
	text-shadow: 2px 1px #000000;	
	font-size:2vw;
	line-height: 4vh;
}
#info-transaksi{
	color:  #fdfefe;
	text-shadow: 2px 1px #000000;	
	font-size:1.5vw;
	line-height: 4vh;
}
/*bottom container*/
#slide-container {
	position:absolute;
	top:88vh;
    width:100%;
	min-width:1366px;
	height:12vh;
    background-color : rgba(0,0,0,0.9)!important;
    z-index:2;
    overflow: hidden;
	white-space: nowrap;
}

/* text scroller */

#first-content {
    top:1.5vh;
	position: absolute;
    z-index:50;
    position: absolute;
    width: 100%;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

/* Global Classes */
.header-text {
	font-family: 'Helvetica', sans-serif;
	font-size: 3.8vw;
	color: yellow;
	width:100vw;
}

.title {
	font-size: 6.8vw;
	font-weight: 600;
}
/*container*/

#judul {
	top:0;
	left:0;
    width:100%;
	height:12vh;
    background-color: rgba(0,0,0,0.5);
    z-index:3;
    overflow: hidden;
}
#judul h1{
	line-height: 0.3;
}
#judul h3{
	line-height: 0.3;
}
#alamat{
	line-height: 0.5;
}
.transparan{
	background-color: rgba(0,0,0,0.5);
}
.transparan-abu{
	background-color: rgba(208,211,212,0.5);
	color:black;
}
.card{
	background-color : rgba(0,0,0,0.5)!important;
}
.bg-red {
	background-color : rgba(244,67,54,0.5) !important;
}
.bg-blue-grey{
	background-color : rgba(96,125,139,0.5) !important;
}
.bg-cyan{
	background-color : rgba(0,188,212,0.5) !important;
}
.bg-green{
	background-color : rgba(76,175,80,0.5) !important;
}
.bg-orange{
	background-color : rgba(255,152,0,0.5) !important;
}
.bg-pink{
	background-color : rgba(233,30,99,0.5) !important;
}
#tanggal {
	font-size: 1.8vw;
	border-bottom: 1px solid #aab7b8
}
#jam {
	font-size: 4.5vw;
	font-weight: bold;
	color: yellow;
}
.number{
  font-weight: normal;
  font-size: 5vw;
  margin:auto;
  color:  #fdfefe;	
}
#hari {
	font-size: 3.5vw;
}
#tanggal {
	font-size: 2.5vw;
}
#nama-instansi {
	font-size: 3vw;
}
#alamat-instansi {
	font-size: 1.5vw;
}
#calendar {
	padding-left : 2vw;
}
.jelang{
	font-size: 1.8vw;
}
.nm-solat{
	font-size: 1.8vw;
	line-height: 0.6;
}
.waktu-solat{
	font-size: 2.8vw;
	line-height: 0.6;
}
th, td {
  padding: 5px!important;
}